.bg-no-repeat {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dropdown-item.disabled {
    color: black;
}

.notify{
    width: 300px;
}

.notify li {
    padding: 10px;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

input#form1::-webkit-inner-spin-button,
input#form1::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-w {
    width: 5rem;
}