.bg-no-repeat {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dropdown-item.disabled {
    color: black;
}

.notify{
    width: 300px;
}

.notify li {
    padding: 10px;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}